.cart-container{
  padding:40px;
  display:flex;
  justify-content:center;
}

.table{
  width:90%;
  border-collapse:collapse;
  font-family: "Segoe UI", sans-serif;
  background:white;
  border-radius:10px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.table th{
  background:#1e293b;
  color:white;
  padding:14px;
  text-align:center;
}

.table td{
  padding:14px;
  text-align:center;
  border-bottom:1px solid #eee;
}

.product-img{
  width:60px;
  height:60px;
  object-fit:contain;
}
.qty-box{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
}

.qty-btn{
  width:32px;
  height:32px;
  border:none;
  border-radius:6px;
  background:#2563eb;
  color:white;
  font-size:18px;
  cursor:pointer;
  transition:0.3s;
}

.qty-btn:hover{
  background:#1d4ed8;
}

/* quantity number */
.qty-number{
  font-weight:bold;
  font-size:16px;
}

/* delete button */
.delete-btn{
  background:#ef4444;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

.delete-btn:hover{
  background:#dc2626;
}

/* total row */
.total{
  padding:20px;
  background:#f1f5f9;
}